.regnummer
  width:50px

.main
  width:600px;
  margin:auto;

.monthView th
  margin:1px

.monthView td
  padding:1px

.monthView button
  padding:15px
  font-size:16px

table tbody tr td button.notCurrentMonth span
  color:#cccccc

form div
  margin-top:10px

.error
  color: maroon