.monthView
  //border: 1px solid blue
  width:100%


.main
  width:600px;
  margin:auto;


.monthView .btn-block
 margin-left:1px
 margin-right:1px

.monthView th
  margin:2px
  padding:3px

.monthView td
  padding:1px

.monthView button.pull-right
  margin-right:5px

.monthView button.pull-left
  margin-left:7px

.monthView button
  font-size:16px

table tbody tr td button.notCurrentMonth span, .past
  color:#cccccc

form div
  margin-top:10px

.error
  color: maroon

.weekNr em
  color:#bbb

.busiest
  color:#ffffff
  background:red

.busier
  color:#ffffff
  background:#c0a16b

.busy
  color:#ffffff
  background:#67b168

.available
  background: #2b542c
  color:#ffffff

