<html lang="no">
<head>
    <link rel="stylesheet" href="/lib/bootstrap/bootstrap-3.1.1.min.css"/>
    <link rel="stylesheet" href="/lib/bootstrap/bootstrap-theme-3.1.1.min.css"/>
    <script src="/lib/bootstrap/jquery-1.11.1.min.js"></script>
    <script src="/lib/bootstrap/bootstrap-3.1.1.min.js"></script>
    <link rel="stylesheet" href="simple-reg.css"/>
    <title>Bestillbekreftelse @klarlakk</title>
</head>
<body>
<div class="hero-unit text-center main">
    <div class="text-left" style="background-color: #fff; margin-top:20px; ">
        <h4>Ordrebekreftelse</h4>
        Takk for din bestilling. Din bestilling har blitt mottatt og en plass er reservert bestillingsdato.<br/>
        Avhengig av arbeidet som må utføres, hentes bilen enten samme dag eller dagen etter (hvis større arbeid).
        Du vil få beskjed om når arbeidet utført og tidspunkt for overlevering av bilen.
    </div>
</div>
</body>
</html>