<html lang="no" ng-app="regapp">
<head>
    <link rel="stylesheet" href="/lib/bootstrap/bootstrap-3.1.1.min.css"/>
    <link rel="stylesheet" href="/lib/bootstrap/bootstrap-theme-3.1.1.min.css"/>
    <script src="/lib/bootstrap/jquery-1.11.1.min.js"></script>
    <script src="/lib/bootstrap/bootstrap-3.1.1.min.js"></script>
    <link rel="stylesheet" href="simple-reg.css"/>

    <title>Bestill time @klarlakk</title>
    <% include inc_angular_app.ejs %>
</head>
<body>
<div class="hero-unit text-center main" ng-controller="MonthViewCtrl as monthView">
    <h3>Online timebestilling hos Klarlakk</h3>
    <p>Her kan du bestille time hos moderne lakkverksted utstyrt med ny lakkabin. Kvaliteten er meget høy, og vi har
        kort leveringstid.</p>
    <div>
        <div>
            <form class="form-horizontal col-sm-10" role="form" name="newOrderForm" ng-model="newOrderForm" novalidate>
                <div class="form-group">
                    <label class="control-label">Velg dato</label>
                    <% include monthView.ejs %>
                </div>
                <div class="form-group">
                    <span class="help-inline error" ng-show="submitted && newOrderForm.orderDateMissing">Vennligst velg dato!</span>
                    <label class="control-label" ng-show="newOrderForm.orderDate">Valgt dato:</label>
                    {{newOrderForm.orderDate.dateStr|| ''}}
                </div>
                <div class="form-group" ng-class="{true: 'error'}[submitted && newOrderForm.orderLicencePlate.$invalid]">
                    <label for="licencePlate">Registreringsnummer</label>
                    <input type="text" class="form-control" placeholder="XX12345" ng-model="newOrderForm.licencePlate" name="orderLicencePlate" id="licencePlate"
                           ng-pattern="/^[a-z\s][a-z\s]\s*\d{5}$/i" ng-maxlength="10" required/>
                    <span class="help-inline error" ng-show="submitted && newOrderForm.orderLicencePlate.$error.required">Vennligst oppgi bilens registreringsnummer!</span>
                    <span class="help-inline error" ng-show="submitted && newOrderForm.orderLicencePlate.$error.pattern">Registreringsnummer er i formatet XX12345!</span>
                </div>
                <div class="form-group" ng-class="{true: 'error'}[submitted && newOrderForm.orderOnName.$invalid]">
                    <label class="sr-only" for="name">Ditt navn</label>
                    <input type="text" class="form-control" id="name" name="orderOnName" placeholder="Ditt navn" ng-model="newOrderForm.name" required/>
                    <span class="help-inline error" ng-show="submitted && newOrderForm.orderOnName.$error.required">Vennligst oppgi navn!</span>
                </div>
                <div class="form-group" ng-class="{true: 'error'}[submitted && newOrderForm.orderMobile.$invalid]">
                    <label class="sr-only" for="mobile">Mob</label>
                    <input type="text" class="form-control" id="mobile" name="orderMobile" placeholder="Mobil" ng-model="newOrderForm.mobile" required/>
                    <span class="help-inline error" ng-show="submitted && newOrderForm.orderMobile.$error.required">Vennligst oppgi mobil!</span>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="comments">Kommentar</label>
                    <textarea class="form-control" id="comments" placeholder="Kommentar" ng-model="newOrderForm.comments"></textarea>
                </div>
                <div class="col-lg-offset-10">
                <button class="btn btn-primary" ng-click="submitted=true; submitOrder()">Send bestilling</button>
                </div>
            </form>
        </div>
        <div class="messagesList" app-messages></div>
    </div>
</div>
</body>
</html>