<html lang="no" ng-app="regapp">
<head>
    <link rel="stylesheet" href="/lib/bootstrap/bootstrap-3.1.1.min.css"/>

    <link rel="stylesheet" href="/lib/bootstrap/bootstrap-theme-3.1.1.min.css"/>
    <script src="/lib/bootstrap/jquery-1.11.1.min.js"></script>
    <script src="/lib/bootstrap/bootstrap-3.1.1.min.js"></script>
    <link rel="stylesheet" href="simple-reg.css"/>

    <title>Bestill time @klarlakk</title>
    <% include inc_angular_app.ejs %>
</head>
<body>
<div class="hero-unit text-center main" ng-controller="ReserveTimeCtrl as MainCtrl">
    <h1>Online timebestilling hos Klarlakk</h1>

    <p>Her kan du bestille time hos moderne lakkverksted utstyrt med ny lakkabin. Kvaliteten er meget høy, og vi har
        kort leveringstid.</p>
<br/>
    <form id="regnummerform" class="form-horizontal">
        <div class="form-group">
            <label class="col-md-5 control-label">Bilens registreringsnummer</label>
            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="XX12345" ng-model="regnummer" name="regnummer"
                       ng-pattern="/^[a-z\s][a-z\s]\s*\d{5}$/i" ng-maxlength="10" required/>
            </div>
            <div class="col-md-3">
                <input type="submit" class="btn btn-primary btn-large" value="Gå videre" ng-click="MainCtrl.newItem()"/>
            </div>
        </div>
    </form>
    <div>

        <div>
            <form class="form-inline" role="form" enctype="multipart/form-data">

                <br/>
                <br/>
                <div class="form-group">
                    <label class="control-label">Velg dato</label>
                    <% include monthView.ejs %>
                </div
                <br/>
                <br/>
                <div class="form-group">
                    <label class="sr-only" for="name">Ditt navn</label>
                    <input type="text" class="form-control" id="name" placeholder="Ditt navn" ng-model="newOrderForm.name"/>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="mobile">Mob</label>
                    <input type="text" class="form-control" id="mobile" placeholder="Mobil" ng-model="newOrderForm.mobile"/>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="saveNewItem()">OK</button>
        </div>
    </div>
</div>
</body>
</html>