<div class="monthViewDiv text-center">
    <div class="wrapper well">
        <table class="monthView">
            <tr class="monthBtns">
                <!--<th align="right" style="padding:0;">
                    <button type="button" class="btn btn-dark btn-sm pull-left text-center" ng-click="monthView.changeMonth(-1)">
                        &lt;
                    </button>
                </th>-->
                <th colspan="8" align="center" style="text-align: center;">
                    <button type="button" class="btn btn-default btn-sm text-center" ng-click="monthView.changeMonth(-1)">
                        <!--<span class="glyphicon glyphicon-chevron-left"></span>-->
                        &lt;
                    </button>
                    <button type="button" class="btn btn-default btn-sm" style="width:70%;"><strong class="ng-binding">{{monthView.currentMonth}}</strong></button>
                <!--</th>
                <th>-->
                    <button type="button" class="btn btn-default btn-sm" ng-click="monthView.changeMonth(1)">&gt;
                        <!--<span class="glyphicon glyphicon-chevron-right"></span>-->
                    </button>
                </th>
            </tr>
            <!--Ukedager-->
            <tr>
                <th class="text-center" ng-show="monthView.showWeekNumbers">#</th>
                <th class="text-center"
                    ng-repeat="dayOfWeek in monthView.daysOfWeek"
                    ng-style="{borderRight:'{{$index!=6?none:1}}px'}">
                    {{dayOfWeek.indexOf('none')!=0?dayOfWeek:''}}
                </th>
            </tr>

            <tr ng-repeat="week in monthView.calendarView.weeks">
                <td ng-show="monthView.showWeekNumbers" class="text-center weekNr">
                    <em>{{week.number}}</em>
                </td>
                <td ng-disabled="date.disabled"
                    ng-repeat="date in week.days">
                    <button type="button" style="width:99%;margin:0;padding:0;" class="btn btn-default btn-sm"
                            ng-class="{notCurrentMonth : !date.isCurrentMonth, busy : date.isBusy, busier : date.isBusier, busiest : date.isBusiest, past : date.isPast, available : date.isAvailable}"
                            ng-click="monthView.selectBookingDate(date)">
                            <span tooltip-html-unsafe="<br/>Ledige plasser: {{date.available}} <br/><br/>">{{date.label}}</span>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>