<div class="monthViewDiv text-center">
    <div class="wrapper">
        <table class="monthView">
            <tr class="monthBtns">
                <th>
                    <button type="button" class="btn btn-default btn-sm pull-left text-center" ng-click="monthView.changeMonth(-1)">
                        <!--<span class="glyphicon glyphicon-chevron-left"></span>-->
                        &lt;
                    </button>
                </th>
                <th colspan="6">
                    <button type="button" class="btn btn-default btn-sm btn-block"><strong class="ng-binding">{{monthView.currentMonth}}</strong></button>
                </th>
                <th>
                    <button type="button" class="btn btn-default btn-sm pull-right" ng-click="monthView.changeMonth(1)">&gt;
                        <!--<span class="glyphicon glyphicon-chevron-right"></span>-->
                    </button>
                </th>
            </tr>
            <!--Ukedager-->
            <tr>
                <th class="text-center" ng-show="monthView.showWeekNumbers">#</th>
                <th class="text-center"
                    ng-repeat="dayOfWeek in monthView.daysOfWeek"
                    ng-style="{borderRight:'{{$index!=6?none:1}}px'}">
                    {{dayOfWeek.indexOf('none')!=0?dayOfWeek:''}}
                </th>
            </tr>

            <tr ng-repeat="week in monthView.calendarView.weeks">
                <td ng-show="monthView.showWeekNumbers" class="text-center weekNr">
                    <em>{{week.number}}</em>
                </td>
                <td class="calDay"
                    ng-disabled="date.disabled"
                    ng-repeat="date in week.days">
                    <button type="button" style="width:100%;" class="btn btn-default btn-sm"
                            ng-class="{notCurrentMonth : !date.isCurrentMonth, busy : date.isBusy, busier : date.isBusier, busiest : date.isBusiest, past : date.isPast, available : date.isAvailable}"
                            ng-click="monthView.selectBookingDate(date)"
                            <span tooltip-html-unsafe="<br/>Ledige plasser: {{date.available}} <br/><br/>">{{date.label}}</span>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>